<h1><%= t "sample_app_tolow" %></h1>
<p>Hi <%= @user.name %>,</p>
<p>
<%= t "welcome_click_activate" %>
</p>
<%= link_to t("activate"), edit_account_activation_url(@user.activation_token, email: @user.email) %>
